<div class="container-fluid">
  <div class="container-fluid row">
    <h1 class="mr-auto">Boîte de réception</h1>
    <%= link_to "Recevoir un email", emails_path, :method => :post, :class => "btn btn-primary", :style => "height: 33px; align-self: center" %>
  </div><br/>
  <div class = "row">
    <div class="col-5">
      <table class="table table-striped">
        <thead>
          <tr class="bg-primary text-white text-center">
            <th scope="col">#</th>
            <th scope="col" class="col-4">Emails reçus</th>
          </tr>
        </thead>
        <tbody>
          <% n = 1%>
          <% @emails.each do |email|  %>
            <tr>
              <th scope="row"><%= n %></th>
              <td><%= email.object %></td>
              <% n += 1%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <div class="col-7">
      <table class="table table-striped">
        <thead>
          <tr class="bg-primary text-white text-center">
            <th scope="col">Objet de l'email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contenu de l'email</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% @emails.each do |email|  %>
    <li>
      <%= email.object %>,
      "Contenu : " <%=  email.body %>
    </li>
  <% end %>
</div>